<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/font-awesome-4.7.0/css/font-awesome.min.css" />
    <title>Mockup Baker</title>
  </head>
  <body>
    <header>
      <div id="menuList">
        <a href="#general">
          <button class="btn active">
            <i class="fa fa-cog fa-2x"></i>
            General
          </button>
        </a>
        <a href="#update">
          <button class="btn">
            <i class="fa fa-refresh fa-2x"></i>
            Update
          </button>
        </a>
        <a href="#info">
          <button class="btn">
            <i class="fa fa-info-circle fa-2x"></i>
            Info
          </button>
        </a>
      </div>
    </header>
    <hr class="solid">
    <div id="app"></div>
    <script src="js/route.js"></script>
    <script src="js/router.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
