.body {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 242, 242);
  font-family: Arial, Helvetica, sans-serif;
}

.principalOption {
  color: rgb(72, 72, 72);
  font-weight: bold;
  text-align: center;
}
