<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/font-awesome-4.7.0/css/font-awesome.min.css" />
    <title>General</title>
    <style>
      .mystyle {
        width: 100%;
        padding: 25px;
        background-color: coral;
        color: white;
        font-size: 25px;
        box-sizing: border-box;
      }
      </style>
  </head>
  <body>
    <header>
      <div id="menuList">
        <a href="general.html">
          <button class="btn active">
            <i class="fa fa-cog fa-2x"></i>
            General
          </button>
        </a>
        <a href="update.html">
          <button class="btn">
            <i class="fa fa-refresh fa-2x"></i>
            Update
          </button>
        </a>
        <a href="info.html">
          <button class="btn">
            <i class="fa fa-info-circle fa-2x"></i>
            Info
          </button>
        </a>
      </div>
    </header>
    <hr class="solid">
    <form id="generalForm">
      <label for="aplicationPort">Aplication port: </label>
      <input type="number" name="port" id="aplicationPort" min="1" max="65535"/>
      <div class="parent">
        <span id="numberText"></span>
      </div>
    </form>
    <script src="../js/general.js"></script>
    <script>
      getPort();
    </script>
  </body>
</html>
