<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/index.css" />
    <link
      rel="stylesheet"
      href="../styles/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <title>Update</title>
  </head>
  <body>
    <header>
      <div id="menuList">
        <a href="general.html">
          <button class="btn">
            <i class="fa fa-cog fa-2x"></i>
            General
          </button>
        </a>
        <a href="info.html">
          <button class="btn">
            <i class="fa fa-info-circle fa-2x"></i>
            Info
          </button>
        </a>
        <a href="update.html" class="not-active">
          <button class="btn">
            <i class="fa fa-refresh fa-2x"></i>
            Update
          </button>
        </a>
      </div>
    </header>
    <hr class="solid" />
    <div>Updated</div>
  </body>
</html>
