<!DOCTYPE html>
<html lang="en" class="spectrum spectrum--light spectrum--medium">
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Original Mockups</title>
  </head>

  <body>
    <h3 class="spectrum-Heading spectrum-Heading--sizeM">Preferences</h3>
    <!-- Photoshop Tools-->
    <span class="category">General</span>

    <div class="item">
      <form class="new-port-form">
        <input type="number" class="spectrum-input" placeholder="Port" />
        <button
          type="submit"
          class="spectrum-Button spectrum-Button--fill spectrum-Button--secondary spectrum-Button--sizeS buttonInstall"
        >
          Change
        </button>
      </form>
    </div>
    <script>
      require('../server/utils/renderPort');
    </script>
  </body>
</html>
