<!DOCTYPE html>
<html lang="en" class="spectrum spectrum--light spectrum--medium">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Original Mockups Preferences</title>
</head>

<body>
    <h3 class="spectrum-Heading spectrum-Heading--sizeM">Mockup Baker Port</h3>
        <!-- Photoshop Tools-->
        <span class="category">General</span>
        <div class="item">
            <span class="spectrum-Body spectrum-Body--sizeXS">Port</span>
            <input class=""/>
        </div>
</body>

</html>