@import '../node_modules/@spectrum-css/vars/dist/spectrum-global.css';
@import '../node_modules/@spectrum-css/vars/dist/spectrum-medium.css';
@import '../node_modules/@spectrum-css/vars/dist/spectrum-light.css';
@import '../node_modules/@spectrum-css/page/dist/index-vars.css';
@import '../node_modules/@spectrum-css/button/dist/index-vars.css';
@import '../node_modules/@spectrum-css/button/dist/index-vars.css';
@import '../node_modules/@spectrum-css/switch/dist/index-vars.css';
@import '../node_modules/@spectrum-css/progresscircle/dist/index-vars.css';
@import '../node_modules/@spectrum-css/typography/dist/index-vars.css';

.spectrum-Heading {
    display: block;
    margin: auto;
    text-align: center;
}

.p-heading{
    margin-top: 20px;
}

.plugin-title{
    margin: 10px 10px 0px 10px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 20%;
}

.description {
    display: flex;
    font-size: 12px;
    color: gray;
    justify-content: center;
}

.visually-hidden{
    display: none;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.item span {
    padding-left: 5%;
    font-size: 15px;
}
.item .buttonInstall span {
    font-size: 10px;
}
.item .buttonTry {
    display: none;
}
.item .buttonTry span {
    font-size: 10px;
}
.detailError {
    display: none;
}

/* Progress */
.item .progress-custom {
    display: none;
}
