@import '../node_modules/@spectrum-css/vars/dist/spectrum-global.css';
@import '../node_modules/@spectrum-css/vars/dist/spectrum-medium.css';
@import '../node_modules/@spectrum-css/vars/dist/spectrum-light.css';
@import '../node_modules/@spectrum-css/page/dist/index-vars.css';
@import '../node_modules/@spectrum-css/button/dist/index-vars.css';
@import '../node_modules/@spectrum-css/button/dist/index-vars.css';
@import '../node_modules/@spectrum-css/switch/dist/index-vars.css';
@import '../node_modules/@spectrum-css/progresscircle/dist/index-vars.css';
@import '../node_modules/@spectrum-css/typography/dist/index-vars.css';

.spectrum-Heading {
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 2%;
}

.avatar {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 20%;
}

.category {
    display: flex;
    font-size: 12px;
    color: gray;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1%;
}
.item span {
    padding-left: 5%;
    font-size: 15px;
}
.item .buttonInstall {
    margin-left: auto;
}
.item .buttonInstall span {
    font-size: 10px;
}
.item .buttonTry {
    display: none;
    margin-left: auto;
    width: 70px;
}
.item .buttonTry span {
    font-size: 10px;
}
.detailError {
    display: none;
}

/* Progress */
.item .spectrum-ProgressCircle {
    display: none;
    margin-left: auto;
}

.item .spectrum-Switch {
    margin-left: auto;
}