<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/menuList.css" />
    <link rel="stylesheet" href="../styles/general.css" />
    <link
      rel="stylesheet"
      href="../styles/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <title>General</title>
  </head>
  <body>
    <header>
      <div id="menuList">
        <a href="general.html">
          <button class="btn active">
            <i class="fa fa-cog fa-2x"></i>
            General
          </button>
        </a>
        <a href="info.html">
          <button class="btn">
            <i class="fa fa-info-circle fa-2x"></i>
            About
          </button>
        </a>
        <a href="update.html" class="not-active">
          <button class="btn">
            <i class="fa fa-refresh fa-2x"></i>
            Update
          </button>
        </a>
      </div>
    </header>

    <hr class="solid" />

    <div class="grid-container">
      <div class="grid-item alignRight">
        <label for="aplicationPort">Aplication port:</label>
      </div>
      <div class="grid-item alignLeft">
        <input type="number" name="port" id="aplicationPort" />
      </div>
      <div class="grid-item"></div>
      <div class="grid-item">
        <div class="alignLeft">
          <span id="numberText">
            Port used in the application
          </span>
        </div>
      </div>
      <div class="grid-item alignRight">
        <label>App Icon:</label>
      </div>
      <div class="grid-item alignLeft">
        <input id="checkShowAplicationIcon" onclick="getStateDock(this.checked)" type="checkbox" />
        <label>Enable dock icon</label>
      </div>
      <div class="grid-item alignRight">
        <label>Clear cache:</label>
      </div>
      <div class="grid-item alignLeft">
        <button id="btnClearCache" onclick="clearCache()" >Clear</button>
      </div>
      <div class="grid-item"></div>
      <div class="grid-item">
        <div class="alignLeft">
          <span id="cacheText" class="numberTextSuccess" style="display: none;">
            Cache cleared 
          </span>
        </div>
      </div>
    </div>
    <script src="../js/general.js"></script>
    <script>
      getPort();
      getStateDock(null);
    </script>
  </body>
</html>
